@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
body {
    background-color: rgba(7, 105, 255, 0.2);
    background:linear-gradient(to right, rgba(7, 105, 255, 0.9), rgba(7, 105, 255, 0.4));
}

main {
    margin-top: 60px;
}

#content {
    display: none;
}

form {
    width: 350px;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 0px;
}

#completedTaskList .content {
    color: grey;
    text-decoration: line-through;
}